@model IEnumerable<CEN511_Covid19.Models.UserType>

@{
    ViewBag.Title = "AllUser";
}

<h2>AllUser</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserEmail)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserEmail)
        </td>
       
        <td>
            @using (Html.BeginForm("SetRoleforUser", "Account", FormMethod.Post))
            {
                @Html.DropDownList("dropdown", new List<SelectListItem>
                { 
                    new SelectListItem { Text = "Admin", Value = "Admin"},
                    new SelectListItem { Text = "Doctor", Value = "Doctor"},
                    new SelectListItem { Text = "Registered", Value = "Registered"}
                }, "Select user type")


                @Html.HiddenFor(modelItem => item.UserID, new { @class = "form-control", id = item.UserID})

                <input type="submit" class = "btn btn-primary">
            }
            
            @Html.ActionLink("Delete", "Delete", new { id=item.UserID })
        </td>
    </tr>
}

</table>
