@model CEN511_Covid19.Models.HealthStatus

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HealthStatus</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SuggestedForTest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SuggestedForTest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResultStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResultStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VerificationStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VerificationStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecoveryStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecoveryStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HealthStatusID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
