@model IEnumerable<CEN511_Covid19.Models.Symptoms>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fever)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cough)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShortnessOfBreathe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aches)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Headache)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ingigestion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartingDayOfSymptoms)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fever)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cough)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShortnessOfBreathe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aches)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Headache)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ingigestion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartingDayOfSymptoms)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SymptomsID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SymptomsID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SymptomsID })
        </td>
    </tr>
}

</table>
