
@{
    ViewBag.Title = "FeedbackList";
}

<h2>FeedbackList</h2>


<table class="table table-striped">
    <thead>
        <tr>
            <th scope="">Name</th>
            <th scope="Area">Feedback</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Ahmed Imteaj</td>
            <td>Ibn Sina hospital is good for Covid Testing. It gives the test result quickly. People should go there for quick testing.</td>
            <td>
                <p>
                    @Html.ActionLink("Edit", "Edit") |
                    @Html.ActionLink("Back", "Index")|
                    @Html.ActionLink("Delete", "")
                </p>
            </td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>Nusrat Jahan</td>
            <td>Thanks god i am recovered from Covid-19. Credit goes to Doctors, Nurses, my family members and friends who supported me in this critical time.</td>
            <td>
                <p>
                    @*@Html.ActionLink("Edit", "Edit") |*@
                    @Html.ActionLink("Back", "Index")
                </p>
            </td>
        </tr>
    </tbody>

    <tbody>
        <tr>
            <td>Andrew Ng</td>
            <td>I was in a critical condition in the hospital. I urge people to wear mask and maintain social distance. Please don't go outside unless it is necessary. Stay safe and make other safe too.</td>
            <td>
                <p>
                    @*@Html.ActionLink("Edit", "Edit") |*@
                    @Html.ActionLink("Back", "Index")
                </p>
            </td>
        </tr>
    </tbody>

    <tbody>
        <tr>
            <td>Abdul Halim</td>
            <td>My father died of COVID-19 tomorrow. Such a sad news for us. I am devasted now. Please pray for me and my family. I don't want to lose my dear ones.</td>
            <td>
                <p>
                    @*@Html.ActionLink("Edit", "Edit") |*@
                    @Html.ActionLink("Back", "Index")
                </p>
            </td>
        </tr>
    </tbody>

    <tbody>
        <tr>
            <td>Anirban Saha</td>
            <td>Waiting for the vaccine. Hope it will come soon</td>
            <td>
                <p>
                    @*@Html.ActionLink("Edit", "Edit") |*@
                    @Html.ActionLink("Back", "Index")
                </p>
            </td>
        </tr>
    </tbody>

    <tbody>
        <tr>
            <td>Md. lokman</td>
            <td>We should stay connected and help others in this pandemic situation. Government should support foods and other necessary things to the people who lost their jobs.</td>
            <td>
                <p>
                    @*@Html.ActionLink("Edit", "Edit") |*@
                    @Html.ActionLink("Back", "Index")
                </p>
            </td>
        </tr>
    </tbody>
</table>